       {% extends 'base.html' %}
       {% block content %}
       <div class="shadow card">
          <div class="card-body">
              <h5 class="card-title">task name = {{task.name}}</h5>
              <p><b> priority = {{task.priority}}</b></p>
              <p><b> date = {{task.date}}</b></p>
              <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
              <a class="btn btn-success" href="{% url 'update' task.id %}">Update</a>
          </div>
       </div>
       {% endblock %}